<body>
    <%- include('../includes/alert-block') %>

    <form action="/auth/account/password/reset" method="POST">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <button type="submit">Reset</button>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="resetToken" value="<%= resetToken %>">
        <input type="hidden" name="userId" value="<%= userId %>">
    </form>
</body>